//- Don't change this, jade does not insert the comment correctly
<!-- vendors:js -->
<!-- endinject -->

<!-- inject:js -->
<!-- endinject -->
//- livereload
unless process.env.NODE_ENV === 'staging'
   script(src="http://127.0.0.1:35729/livereload.js")
