head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Huddy Registry v0.0.1

    //- Don't change this, jade does not insert the comment correctly
    <!-- vendors:css -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
