$body-bkg = #212125

$home-bkg = #212125
$home-color = #fff
$category-blue = #6aacc5
$category-green = #6bb8b1
$category-red = #dc694f
$category-yellow = #dbb62b

$play-bkg = #212125
$play-color = #fff
$play-key-bkg = #595758
$play-key-color = #fff
$play-key-green = #6bb8b1
$play-key-red = #dc694f
$play-top-bkg = #000
$play-pause-surrender-bkg = #dc694f
$play-pause-surrender-color = #fff
$play-more-bkg = #6bb8b1
$play-more-color = #fff
$play-continue-bkg = #6aacc5
$play-continue-color = #fff
$play-surrender-bkg = #dc694f
$play-surrender-color = #fff
$play-hearth-color = #dc694f
$play-hearth-border = #cc4d32
$play-footer-bkg = #595758

@font-face
  font-family Droid Sans Mono
  font-style normal
  font-weight 400
  src url(./../fonts/droidsansmono.ttf)

button-lg(color-bkg, color-font)
  background: color-bkg
  color color-font
  font-size 1.6rem
  height 100%
  line-height 4rem
  margin 0 0 0.5rem 0
  padding 0
  text-transform uppercase
  width 100%

body
  background $body-bkg
  border none
  font-family Droid Sans Mono

#app
  height 100%

  .home
    background $home-bkg
    height 100%
    text-align center

    .title
      color $home-color
      font-size 3rem
      font-weight 900
      height 6rem
      line-height 6rem
      margin 0
      text-transform uppercase

    ul.categories
      height calc(100% - 6rem)
      margin 0
      overflow auto
      position absolute
      text-align center

      li.category
        color $home-color
        display inline-block
        font-size 3rem
        list-style none
        margin-bottom 0.5rem
        width 100%

        &:last-child
          margin 0

        &.blue
          background $category-blue
        &.green
          background $category-green
        &.red
          background $category-red
        &.yellow
          background $category-yellow

  .play
    background $play-bkg
    color $play-color
    height 100%

    .top
      background $play-top-bkg
      font-size 1.5em
      height 3rem
      line-height 3rem
      text-align center

      .time
        float left
        width 20%

        .fa
          margin-right 0.25em

      .category
        float left
        width 65%

      .pause
        float left
        width 15%

    .pause-screen
      text-align center
      font-family Droid Sans Mono
      font-size 4rem
      text-transform uppercase
      top 3rem

      .action
        .button
          button-lg($play-pause-surrender-bkg, $play-pause-surrender-color)

    .word
      top 1rem

      ul
        margin 0
        text-align center

        li.item
          display inline-block
          font-family Droid Sans Mono
          font-size 4rem
          list-style none
          margin 0.5rem

    .keyboard
      bottom 5rem
      position absolute

      &.disabled
        .button
          opacity 0.4

      .button
        background $play-key-bkg
        color $play-key-color
        font-family Droid Sans Mono
        font-size 0.85rem
        padding 0.8rem 1.5rem
        text-transform uppercase
        margin 0.3rem

        &.correct
          background $play-key-green

        &.wrong
          background $play-key-red

    footer
      background $play-footer-bkg
      bottom 0
      left 0
      height 4rem
      margin 0
      position absolute
      width 100%

      .status
        float left
        height 100%
        text-align center
        width 100%

        .rating
          height 4rem
          margin 0

          li
            display inline-block
            list-style none
            margin 1rem

            .fa
              font-size 2.5em
              color $play-hearth-color

              &.fa-heart-o
                color $play-hearth-border

    .message
      top 25%
      left 0
      position absolute
      right 0
      text-align center

      h1
        color #dbb62b
        font-size 3.5rem
        font-weight 900

      .action
        margin-top 2rem

        .button
          width calc(100% - 1rem)

          &.more
            button-lg($play-more-bkg, $play-more-color)

          &.continue
            button-lg($play-continue-bkg, $play-continue-color)

          &.surrender
            button-lg($play-surrender-bkg, $play-surrender-color)
